# ==========================
# Python
# ==========================
venv/
.venv/
backend/venv/
__pycache__/
*.py[cod]

# ==========================
# Node.js
# ==========================
node_modules/
frontend/node_modules/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Datasets
# ==========================
backend/datasets/
backend/datasets/**

# ==========================
# Machine Learning Models
# ==========================
backend/ml_model/*.h5
backend/ml_model/*.keras
backend/ml_model/*.pt
backend/ml_model/*.pth

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db